name: "KMS CI"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  kms:
    name: kms
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Build DevContainer
        uses: devcontainers/ci@v0.3
        with:
          push: never
          configFile: .devcontainer/devcontainer.json
          runCmd: |
            scripts/set_python_env.sh && pip install -r requirements.txt && make demo && npm run test
        env:
          KMS_WORKSPACE: ./workspace
  
  test-mccf-kms:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Test mCCF KMS
        run: |
          . ./scripts/setup_mCCF.sh
          ./scripts/test_curl.sh
        env:
          PUBLIC_CERT_PEM: ${{ secrets.PUBLIC_CERT_PEM }}
          PRIVATE_CERT_PEM: ${{ secrets.PRIVATE_CERT_PEM }}

  lint:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: KMS Lint
        run: make lint
