name: "KMS CI"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  kms:
    name: kms
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Build DevContainer
        uses: devcontainers/ci@v0.3
        with:
          push: never
          configFile: .devcontainer/Dockerfile.ci
          runCmd: |
              make demo
