name: CI

permissions:
  id-token: write
  contents: read

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Lint
        run: make lint

  unit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        env:
          GH_TOKEN: ${{ github.token }}
        run: ./scripts/tools/install-deps.sh

      - name: Run Unit Tests
        run: npm run test

  e2e:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        env:
          GH_TOKEN: ${{ github.token }}
        run: ./scripts/tools/install-deps.sh

      - name: Build DevContainer and run E2E tests
        uses: devcontainers/ci@v0.3
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          push: never
          configFile: .devcontainer/devcontainer.json
          runCmd: |
             scripts/set_python_env.sh && pip install -r requirements.txt
             make demo

      - name: Print CCF logs
        run: cat workspace/sandbox_0/out

  system-stateless:
    name: system / ccf sandbox / ${{ matrix.use_akv && 'akv' || 'local' }}_keys
    secrets: inherit # pragma: allowlist secret
    strategy:
      fail-fast: false
      matrix:
        use_akv: [false, true]
    uses: ./.github/workflows/system-tests.yml
    with:
      env: ccf/sandbox_local
      use_akv: ${{ matrix.use_akv }}

  system-stateful:
    name: system / az cleanroom / local_keys
    secrets: inherit # pragma: allowlist secret
    uses: ./.github/workflows/system-test.yml
    with:
      test-path: test_all_seq
      env: ccf/sandbox/az-cleanroom-aci
      use_akv: false
