name: Daily

permissions:
  id-token: write
  contents: read

on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Lint
        run: make lint

  unit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        env:
          GH_TOKEN: ${{ github.token }}
        run: ./scripts/tools/install-deps.sh

      - name: Run Unit Tests
        run: npm run test

  e2e:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        env:
          GH_TOKEN: ${{ github.token }}
        run: ./scripts/tools/install-deps.sh

      - name: Build DevContainer and run E2E tests
        uses: devcontainers/ci@v0.3
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          push: never
          configFile: .devcontainer/devcontainer.json
          runCmd: |
             scripts/set_python_env.sh && pip install -r requirements.txt
             make demo

      - name: Print CCF logs
        run: cat workspace/sandbox_0/out

  system-stateless:
    name: system
    secrets: inherit # pragma: allowlist secret
    strategy:
      fail-fast: false
      matrix:
        config:
          - env: sandbox_local
            use_akv: false
            parallel: true
          - env: sandbox_local
            use_akv: true
            parallel: true
          - env: az-cleanroom-aci
            use_akv: false
            parallel: false
          - env: acl
            use_akv: false
            parallel: false
    uses: ./.github/workflows/system-tests.yml
    with:
      env: ${{ matrix.config.env }}
      use_akv: ${{ matrix.config.use_akv }}
      parallel: ${{ matrix.config.parallel }}
