name: System Tests

permissions:
  id-token: write
  contents: read

on:
  workflow_dispatch:
  workflow_call:

jobs:
  discover-tests:
    runs-on: ubuntu-latest
    outputs:
      endpoints: ${{ steps.find_tests.outputs.tests }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Find Test Files
        id: find_tests
        run: |
          TEST_FILES=$(cd test/system-test && find . -name 'test_*.py' | sed -e 's|^\./||' -e 's|^test_||' -e 's|\.py$||')
          JSON_ARRAY=$(printf '%s\n' "${TEST_FILES[@]}" | jq -R . | jq -s .)
          echo "tests=$JSON_ARRAY" | sed ':a;N;$!ba;s/\n//g' >> $GITHUB_OUTPUT

  endpoint:
    runs-on: ubuntu-latest
    needs: discover-tests
    secrets: inherit # pragma: allowlist secret
    strategy:
      fail-fast: false
      matrix:
        test: ${{ fromJson(needs.discover-tests.outputs.endpoints) }}
    uses: ./.github/workflows/endpoint-test.yml
    with:
      endpoint: ${{ matrix.endpoint }}

  # c-aci:
  #   runs-on: ubuntu-latest
  #   needs: discover-tests
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       test: ${{ fromJson(needs.discover-tests.outputs.tests) }}
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4

  #     - name: Install Dependencies
  #       env:
  #         GH_TOKEN: ${{ github.token }}
  #       run: ./scripts/tools/install-deps.sh

  #     - name: Run C-ACI System Tests
  #       env:
  #         TEST_ENVIRONMENT: cloud
  #       run: pytest -sv test/system-test/test_${{ matrix.test }}.py
