name: System Tests

permissions:
  id-token: write
  contents: read

on:
  workflow_dispatch:
  workflow_call:
  pull_request:

jobs:
  discover-tests:
    runs-on: ubuntu-latest
    outputs:
      endpoints: ${{ steps.find_tests.outputs.tests }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Find Test Files
        id: find_tests
        run: |
          TEST_FILES=$(cd test/system-test && find . -name 'test_*.py' | sed -e 's|^\./||' -e 's|^test_||' -e 's|\.py$||')
          JSON_ARRAY=$(printf '%s\n' "${TEST_FILES[@]}" | jq -R . | jq -s .)
          echo "tests=$JSON_ARRAY" | sed ':a;N;$!ba;s/\n//g' >> $GITHUB_OUTPUT

  endpoint:
    needs: discover-tests
    secrets: inherit # pragma: allowlist secret
    strategy:
      fail-fast: false
      matrix:
        endpoint: ${{ fromJson(needs.discover-tests.outputs.endpoints) }}
    uses: ./.github/workflows/endpoint-test.yml
    with:
      endpoint: ${{ matrix.endpoint }}
